.features__list {
  display: flex;
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.features__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.features__descr {
  font-size: var(--primary-font-size);
  line-height: 1.7;
  letter-spacing: var(--primary-letter-spacing);
}
