.hero {
  max-width: 1600px;
  min-height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__btn {
  display: block;
  margin: 0 auto;
  min-width: 216px;
  padding: 10px 25px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  transition: background-color 250ms var(--timing-function);
}
