.logo {
  font-family: 'Raleway', sans-serif;
  @include font(700, 26px, 1.19, var(--primary-letter-spacing));
  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
  color: #000000;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}
