.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--primary-letter-spacing);
  text-decoration: none;
}

.logo span {
  color: var(--accent-color);
}

.header__logo {
  margin-right: 93px;
  color: #000000;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}
