.title {
  margin-bottom: 50px;
  text-align: center;
  @include font(700, 36px, 1.17, var(--primary-letter-spacing));
  color: var(--title-text-color);
}

.subtitle {
  @include font(700, var(--primary-font-size), 1.14, var(--primary-letter-spacing));
  text-transform: uppercase;
}
